
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <body>
        الحمد لله 
    </body>
</head>
<body>
</body>
</html>
