@model Endpoint.Site.Models.ViewModels.CharacterTypeCalculationModels.DiscResult
@{
    ViewBag.Title = "DISC Results";
}

<h2>Your DISC Results</h2>
<p><strong>D:</strong> @Model.D%</p>
<p><strong>I:</strong> @Model.I%</p>
<p><strong>S:</strong> @Model.S%</p>
<p><strong>C:</strong> @Model.C%</p>